body{
    font-size: 14px;
}

/*header{

}

header h1{
    
}*/

.header1{
    text-align: center;
    background-color: blue;
}

.nav{
    text-align: center;
    float: left;
    background-color: red;
}

.aside{
    text-align: center;
    float: right;
    background-color: royalblue;
}

.section{
    text-align: center;
    display: flex; /*Centrar sección*/
    background-color: seagreen;
}

.footer{
    display: flex;
    background-color: black;
    color: white;
}
.footer p{
    text-align: right;
}